<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOJO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="header">
        <span id="menu-btn">☰</span>
        <span>Welcom in JOJO 🤖</span>
    </div>

    <div id="sidebar">
        <button>Login</button>
        <button>Signup</button>
    </div>

    <div id="chat-box">
        <div class="ai-msg">
            Hello! I'm JOJO, how can I help you today? 😊
        </div>
    </div>

    <div id="input-area">
        <input type="text" id="msg-input" placeholder="Type anything..."/>
        <button id="send-btn" onclick="sendMessage()">send</button>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>